@model Models.UserViewModel

<span class="text-success">First name: </span>  @Model.First_name <br />
<span class="text-success">Last name: </span> @Model.Last_name <br />
<span class="text-success">E-mail: </span> @Model.Email <br />