@model ICollection<DAL.Entities.Tweet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
</head>
<body>
    <div>
        Newsfeed
    </div>
    @Html.Partial("~/Views/Twitter/TwitterPartial.cshtml", new Models.TweetModel())

    @foreach(var item in Model)
    {
        <p>@item.Date_time</p>
        <p>@item.Body</p>
    }
</body>
</html>